################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231002123913_mig_01.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231019150022_mig_001.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231025085101_mig_002.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231027114041_mig_10.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231027114133_mig_11.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231027115116_mig_12.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231027204925_mig_13.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231029084756_mig_003.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231029085630_mig_004.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231029090851_mig_005.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231029091058_mig_006.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/20231029091443_mig_007.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.DataAccess/Migrations/ToDoActivityAppAPIDbContextModelSnapshot.cs
/ToDoActivityAppAPI/ToDoActivityAppAPI.Entity/ToDoActivityAppAPI.Entity.csproj
